<h4>Utilizar jQuery dentro de Angular</h4>
<button id="botonjq">Mostrar textos</button>
<p id="textojq" class="alert alert-warning" >
    Texto de prueba
</p>

<div id="caja" style="border:1px solid black;width: 150px; heigth:50px">
    Texto de prueba Texto de prueba Texto de prueba Texto de prueba Texto de prueba Texto de prueba 
</div>

<p>   
        <app-tiny-editor
        [elementId]="'my-editor'"
        (onEditorContentChange)="keyupHandler($event)"
        >
      </app-tiny-editor>
</p>
<hr>

Padre:

<h1> {{titulo}}</h1>
<ul>
    <li>item1</li>
    <li>item2</li>
</ul>
<br>

<input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()" />

<br>
Resultado: {{nombreDelParque}}
<br>
<div>
    <h4>Datos de mi parque desde el hijo</h4>
    <ol  *ngIf="miParque">
        <li>{{miParque.nombre}}</li>
        <li>{{miParque.metros}}</li>
        <li>{{miParque.vegetacion}}</li>
        <li>{{miParque.abierto}}</li>
    </ol>
</div>


<hr>
Hijo:
<p *ngIf="nombreDelParque">
    <parques [nombre]="nombreDelParque" 
             [metrosCuadrados]="567"
             (pasameLosDatos)="verDatosParque($event)" >
    </parques>
</p>